<div class="container">
    <mat-card class="user-card" appearance="outlined">
        <img [src]="profile?.picture" alt="{{ profile?.name }}" >
        <mat-card-title>{{ profile?.name }}</mat-card-title>
        <mat-chip-set>
            <mat-chip>Cliente</mat-chip>
        </mat-chip-set>

        <div class="user-actions">
            <button mat-button>Ver Perfil</button>
            <button class="logout" mat-button (click)="logout()">
                Log out
                <mat-icon>logout</mat-icon>
            </button>
        </div>

    </mat-card>


</div>
